
#message {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    font-size: 4rem;
    color: #42a2d6;
    font-family: "Gabriel Weiss' Friends Font";
    text-shadow: 0 6px 0 white;
    min-width: 100%;
}

.score-prefix {
    padding-top: 1rem;
    color: white;
    font-family: "Gabriel Weiss' Friends Font";
    font-size: 1.5rem;
}

#button {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}
