@font-face {
    font-family: "Gabriel Weiss' Friends Font"; src: url('GABRWFFR.TTF')
}

* {
    box-sizing: border-box;
}
body {
    color:white;
} 

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}
#related {
    max-width: 70%;
    display: block;
    margin: 0 auto;
}
#question {
    display:block;
    margin-bottom:0.8rem;
    background-color: #42a2d6;
    font-size: 1.2rem;
    border-radius: 3rem;
    color:white;
    padding: 2rem 2.5rem;
    max-width: 70%;
    margin: 20px auto;
    border: 0.125rem solid black;
    font-family: "Comic Sans MS";
}
.grid-answers {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding-bottom:20px;
}

.choice-container {
    width:100%;
    display: flex;
    background-color: white;
    color:#333333;
    font-size: 1rem;
    /*margin: 0.3125rem 0.25rem;*/
    /*padding: 0px 70px;*/
    border: 0.125rem solid black;
    font-family: "Comic Sans MS";
}

.choice-container:hover {
    cursor:pointer;
    box-shadow: 0 0.4rem 1,4rem 0 white;
    transform: scale(1.02);
    transform: 100ms;
}

.choice-prefix {
    text-align: left;
    padding: 0.5rem 1rem;
}

.choice-text {
    text-align: center;
    padding: 0.5rem 1rem
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1rem;
    font-family: "Gabriel Weiss' Friends Font";
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height:1.5rem;
    border: 0.2rem solid forestgreen;
    margin-top: 0.5rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    width: 0%;
    background: forestgreen;
}

#score {
    font-family: "Gabriel Weiss' Friends Font";
}

