#winner {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 2rem;
    color:white;
    font-family: "Gabriel Weiss' Friends Font";
}

#winner-img {
    max-width: 70%;
    display: block;
    margin: 0 auto;
}

.score-prefix {
    display:inline;
    clear: both;
    color: white;
    font-family:  "Gabriel Weiss' Friends Font";
    font-size: 2rem;
}